<!-- Services Section -->
    <section id="services">
        <div class="container">
            <!--div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Caractéristiques</h2>
                    <h3 class="section-subheading text-muted">Tous les jeux sont...</h3>
                </div>
            </div-->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aus Holz</h4>
                    <p class="text-muted">Die meisten unserer Spiele sind aus Naturholz von der Kautschukpflanze die die Umwelt schont. Gewisse Spiele sind Kunsthandwerk aus dem Jura.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-paper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Handgemacht</h4>
                    <p class="text-muted">Unsere Spiele sind kunsthandwerkliche Produkte und wurden hergestellt mit  spezialisierten Maschinen. Die Farben -mit ecologischer Zusammensetzung- wurden handgemalt.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Für alle</h4>
                    <p class="text-muted">Die Regeln sinf einfach und können auf einer Seite zusammengefasst werden.  Sie sind erhältlich in mehreren Sprachen und Spielvariationen sind möglich sodass keine Langeweile aufkommen kann.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alles in einem</h4>
                    <p class="text-muted">Das Spiel, die Spielfläche und der Spielbehälter sind Eins was die Mehrheit unserer Spiele angeht.  Der Transport und das Einräumen ist somit einfach.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-legal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Die Garantie</h4>
                    <p class="text-muted">Wir werden immer unser Möglichstes tun um Ihnen verlorene Speilteile wieder zu beschaffen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-history fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kommen nicht aus der Mode</h4>
                    <p class="text-muted">Schön anzusehen, dauerhaft, solide und gemütlich...unsere Holzspiele bleiben immer up to date.</p>
                </div>
            </div>
        </div>
    </section>