    <section id="about" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wie zijn wij ?</h2>
                    <h3 class="section-subheading text-muted">De geschiedenis van Deambulle</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/img/team/giancarlo.png" class="img-responsive img-circle" alt="">
                        <h4>Giancarlo</h4>
                        <p class="text-muted">Hij creëerde...</p>
                        <!--ul class="list-inline social-buttons">
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </ul-->
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="/img/team/roxane.png" class="img-responsive img-circle" alt="">
                            <h4>Roxane</h4>
                            <p class="text-muted">... Zij doet de rest !</p>
                            <!--ul class="list-inline social-buttons">
                                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item">

                    <div class="portfolio-caption">
                        <p>
                            Achter alles zit een verhaal!<br/>
                            En deze spelletjes stellen het mijne voor. 
                           
                        </p>

                        <p>
                           Een familieverhaal, vol liefde en geluk in de eerste plaats dankzij de vreugdevolle tijden die ik doorbracht met mijn broer, mijn zussen en mijn ouders rond deze houten spelen. 
                           Spelletjes door mijn vader handgemaakt, die ze vaak tot diep in de nach zat te bedenken om dan met ons te delen! 

                        </p>

                        <p>
                            Zo vonden we hem als tieners eens s'avonds laat op de keukentafel terwil hij een nieuw spel aan het maken was.
                            Eerst maakte hij een proefversie van papier en karton. 
                            De volgende dag probeerden we zijn nieuwe ideeën en regels uit (soms wel om 4 uur s ’ochtends wanneer we thuis kwamen van een avondje uit!). 

                        </p>

                        <p>
                            De weken en maanden die volgden, probeerden we de nieuwe spelletjes wat uitgebreider uit nog met de hele familie en vrienden.
                            De voorwerpen waren mooi. Origineel. Ik hield ervan om ernaar te kijken en te spelen met elk nieuw persoon die bij ons thuis kwam. 


                            Later am ik ze ook mee op reis. En elke keer was ik er enorm trots op!
                            Met het ouder worden, kreeg ik zin om deze rijkdom, die me zo lang had vergezeld en die ik nooit beu werd, te delen. Zo lanceerde ik Deambulle-spellen, een creatie huis, uitgeverij en distributie van een aantal van mijn favoriete en ambachtelijke spelletjes bedacht en ontworpen door mijn vader. Ik was toen 21, binnenkort ben ik 30.
                            En spelletjes zijn er nog veel om te ontdekken, in ieder geval voor de komende 99 jaar!

                        </p>

                        <p>
                            Kom de spelletjes testen in Brussel! Kom me bezoeken of ontmoet de echte uitvinder, mijn papa! <br/>

                            En als jij er op jouw beurt van houdt. Weet dan dat het mogelijk is om ze te bestellen. Spelletjes die niet op voorraad zijn zullen waarschijnlijk worden heruitgegeven, maar in afwachting maken we plaats voor de nieuwigheden!
                        </p>

                        <div style="text-align:right">
                            <p class="sign">Roxane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>