    <section id="about" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wie zijn wij ?</h2>
                    <h3 class="section-subheading text-muted">De geschiedenis van Deambulle</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/img/team/giancarlo.png" class="img-responsive img-circle" alt="">
                        <h4>Giancarlo</h4>
                        <p class="text-muted">Hij heeft gecreëerd ...</p>
                        <!--ul class="list-inline social-buttons">
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </ul-->
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="/img/team/roxane.png" class="img-responsive img-circle" alt="">
                            <h4>Roxane</h4>
                            <p class="text-muted">... Zij doet de rest !</p>
                            <!--ul class="list-inline social-buttons">
                                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item">

                    <div class="portfolio-caption">
                        <p>
                            Achter alles zit een verhaal!<br/>
                            En deze spelletjes stellen het mijne voor. 
                           
                        </p>

                        <p>
                            Een familie verhaal, vol liefde en geluk in de eerste plaats door goede tijden door te brengen met mijn broer, zussen en ouders rond deze houten spellen.
                            Spellen die zelfgemaakt zijn door een ‘vader-kunstenaar’, die vaak nachtwerk deed, door te veel spel ideeën te bedenken, te delen!
                        </p>

                        <p>
                            Zo vonden we ons's avonds terug ,toen we tieners waren, aan het creëren van spellen in het midden van de nacht op de keukentafel, een nieuw spel ... Eerst in papier -karton. De volgende dag testten we hem uit met de nieuwe ideeën en regels (soms wel om 4 uur in de ochtend wanneer we thuis kwamen van een avondje uit).
                        </p>

                        <p>
                            De weken, de maanden die volgden, testten we de spelen nog, maar deze keer met de hele familie en vrienden. De objecten waren mooi. Origineel. Ik hield om er naar kijken en te spelen met elke nieuw persoon die bij ons thuis kwam. Dan heb ik ze ook op reis meegenomen. En elke keer, had het zijn effect. Ik was er echt fier op!

                            Door ouder te worden, wou ik deze rijkdom die mij zo lang had vergezeld en me niet moe maakte, delen, ondanks de voortdurende nieuwe spellen die ‘gekke papa’ bleef uitvinden. Zo lanceerde ik Deambulle-spellen, een creatie huis, van uitgave en distributie van een aantal van mijn favorieten van deze ambachtelijke ‘papa-spellen’. Ik was 21, vandaag, binnenkort 30. En spellen, zijn er nog veel voor u om te ontdekken, in ieder geval voor de komende 99 jaar!
                        </p>

                        <p>
                            Kom de spellen testen in Brussel! Kom me bezoeken of ontmoet mijn ‘papa- bedenker’.<br/>
                            En als jij,op jouw beurt, van hun houdt, weet dat het mogelijk is om ze te bestellen. Spellen die niet op voorraad zijn zullen waarschijnlijk een dag worden heruitgegeven, maar hiervoor plaats tot nieuwigheid!
                        </p>

                        <div style="text-align:right">
                            <p class="sign">Roxane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>