<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hoe een bestelling plaatsen?</h2>
                    <h3 class="section-subheading text-muted">Een bestelling bij Déambulle Spellen verloopt in 4 stappen:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Eerste contact</h4>
                    <p class="text-muted">
                        U mag het formulier hieronder invullen door de artikels te lezen die u interessant vindt en de gewenste hoeveelheden te vermelden.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We beantwoorden uw aanvraag!</h4>
                    <p class="text-muted">
                        We nemen contact op met u om de offerte af te ronden, de betalingswijze en de leveringswijze te bepalen.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Betaling</h4>
                    <p class="text-muted">
                        VU kiest tussen 3 betalingswijzen: Paypal, bankoverschrijving of contant.
                        Les <span title="Via Kiala, 5€ en Belgique, 15€ en Europe." class="tip">Vervoerkosten </span> op uw kosten. 
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Verzening</h4>
                    <p class="text-muted">
                        U komt uw pakket zelf halen of wij versturen de spellen. 
                        U kunt er dan eindelijk van genieten. 
                    </p>
                </div>
            </div>
        </div>
    </section>