<!-- Services Section -->
    <section id="services">
        <div class="container">
            <!--div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Caractéristiques</h2>
                    <h3 class="section-subheading text-muted">Tous les jeux sont...</h3>
                </div>
            </div-->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">In hout</h4>
                    <p class="text-muted">

                        De meeste van ons spellen zijn gemaakt van rubberhout. De hévéa planten zijn beheert in een geest van duurzaamheid en respect voor de omgeving. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-paper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Handgemaakt</h4>
                    <p class="text-muted">Onze spellen zijn artisanale producten, die gemaakt zijn met machines van menselijke schaal. De stukken zijn met de hand geverfd - met ecologisch oplosmiddel.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voor allen</h4>
                    <p class="text-muted">De regels zijn duidelijk en bondig (op 1 blad). Ze zijn beschikbaar in verschillende talen waarin spel variaties in verwerkt zijn. Wat het mogelijk maakt om eindeloos te spelen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alles in één</h4>
                    <p class="text-muted">Het spel, het speelbord en de doos maken één voor een groot deel van onze spellen. Gemakkelijk vervoerbaar en snel opgeslagen.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-legal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Garantie</h4>
                    <p class="text-muted">We zullen altijd alles in het werk stellen om verloren stukken te verschaffen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-history fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tijdloos</h4>
                    <p class="text-muted">Mooi, duurzaam, sterk, leuk,… onze spellen in hout krijgen geen rimpels.</p>
                </div>
            </div>
        </div>
    </section>