    <section id="about" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who are we?</h2>
                    <h3 class="section-subheading text-muted">The story of Deambulle</h3>
                </div>
            </div>

            <!--div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/img/team/giancarlo.png" class="img-responsive img-circle" alt="">
                        <h4>Giancarlo</h4>
                        <p class="text-muted">He creates ...</p>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="/img/team/roxane.png" class="img-responsive img-circle" alt="">
                            <h4>Roxane</h4>
                            <p class="text-muted">... She does the rest !</p>
                        </div>
                    </div>
                </div>
            </div-->

            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item">

                    <div class="portfolio-caption">
                        <p>
                            Behind every creation there is a story.<br/>
                            Those games are my story. 
                           
                        </p>

                        <p>
                            It is a family story, filled with love and joy, mainly due to the good moment we spent, my brother, my sisters and my parents and I around those wooden games. Homemade games made by an artist-dady who was far too often awake at night with too many new ideas, creating and sharing!
                        </p>

                        <p>
                            That is how we found him awake, creating in the middle in of the night, coming back from parties when we were teenagers. He was there, at the kitchen table, with a new game... first a paper version.
                        </p>

                        <p>
                            The next day (when he did not convinced us to do it at 4 in the morning) we were testing the mechanisms of that new game.
                            During the next weeks and months, we continued to test it with the entire family and our friends.
                            There were nice objects. Original. I always liked to watch and share them with any new person coming to ourat home.
                            I also took them with me during my travels, each time they were appreciated. What pride I had!


                            Growing up, the desire to share those treasures that accompagnied me so long and that does not weary me, despite the constant new games that my crazy-dad-artist continued to invent. It is therefore natural that I continued the adventure and launched Déambulle-Games, a creative house, publishing and distribution of some of my favorite games of this craftsman dad. I was 21. And today, soon 30. And games, there are still many for you to discover, at least for the next 99 years!

                        </p>

                        <p>
                            Come test the games in Brussels! Come to meet me and to meet this artist-daddy.<br/>
                            And if, in your turn, you love theses games, know that it is possible to order them. 
                            Games out of stock will likely be republished one day, but before that, up to the novelty!
                        </p>

                        <div style="text-align:right">
                            <p class="sign">Roxane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>