    <section id="about" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wer sind wir ?</h2>
                    <h3 class="section-subheading text-muted">Die geschichte von Deambulle</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/img/team/giancarlo.png" class="img-responsive img-circle" alt="">
                        <h4>Giancarlo</h4>
                        <p class="text-muted">Er erfindet sie...</p>
                        <!--ul class="list-inline social-buttons">
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </ul-->
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="/img/team/roxane.png" class="img-responsive img-circle" alt="">
                            <h4>Roxane</h4>
                            <p class="text-muted">... Sie kümmert sich um den Rest !</p>
                            <!--ul class="list-inline social-buttons">
                                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item">

                    <div class="portfolio-caption">
                        <p>
                            Hinter jeder Erfindung stekt eine Geschichte.<br/>
                            Und diese Spiele repräsentieren die meine. 
                           
                        </p>

                        <p>
                            Eine Familiengeschichte, voller Liebe und Freude vor allem durch die guten Momente die wir zusammen verbracht haben mein Bruder, meine Schwestern, meine Eltern und ich um diese Holzspiele herum.  Es sind hausgemachte Spiele von einem künstlerischen Papa erfunden der oft in der Nacht von seinen zu zahlreichen Ideen geweckt wurde, von Ideen von Spielen die es zu erfinden und dann zu teilen galt !
                        </p>

                        <p>
                            So haben wir ihn oft nachts vorgefunden, mitten in diesen Momenten wo er, mit Pappe und Karton,am Küchentisch Spiele erfand, ohne ein Atelier zu haben...Am Tag danach testeten wir mit ihm die Mechanismen dieser seiner neuen Ideen.  

                        </p>

                        <p>
                            In den Wochen und Monaten danach setzten wir diese Testphase fort, dieses Mal mit der Grossfamilie und den Freunden. 
                            Diese Objekte waren schön anzusehen.  Original.  Ich sah sie gerne an und spielte mit jeder neuen Person die zu uns nach Hause kam.  Dann habe ich sie mit auf die Reise genommen. Und jedesmal übten sie auf mich die gleiche Wirkung aus : ich war stolz auf sie !


                            Als ich grösser wurde wollte ich diese Reichtümer die mich so lange begleitet hatten mit anderen teilen, trotz all der anderen neuen Erfindungen meines Vaters der mehr und mehr Spiele erfand.  So hat es sich ganz von selbst ergeben dass ich DEAMBULLE-SPIELE erfand, unser Label, zur Vertreibung der Lieblingsspiele dieses künstlerischen Vaters.  Ich war 21 Jahre alt.  Jetzt bin ich fast 30.  Und ich möchte Euch die Möglichkeit geben noch viele dieser Spiele in der Zukunft zu entdecken.

                        </p>

                        <p>
                            Kommt die Spiele testen in Brüssel !  Kommt bei meinem kréativen Vater und mir vorbei.<br/>
                            Und wenn ihr dann auch diese Spiele mögt müsst ihr wissen das ihr sie bei mir bestellen könnt.
                            Die Spiele die wir momentan nicht mehr in der Reserve haben werden wahrscheinlich bald wieder herrausgegeben.  Aber in der Zwischenzeit, Platz für die neuen Spiele  !

                        </p>

                        <div style="text-align:right">
                            <p class="sign">Roxane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>