<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to place an order?</h2>
                    <h3 class="section-subheading text-muted">An order at Deambulle's consists of 4 steps:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">First contact</h4>
                    <p class="text-muted">
                       You fill in the form below by listing the items that interest you and the desired amount.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We call you back !</h4>
                    <p class="text-muted">
                        We will contact you to finalize the offer, set a payment method and agree on a delivery method.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Payment</h4>
                    <p class="text-muted">
                        You choose between three payment methods: PayPal, bank transfer or cash. The shipping costs are your responsibility.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Delivery</h4>
                    <p class="text-muted">
                        You can come in person in order to retrieve your parcel or we will ship it to you. You can finally enjoy it.
                    </p>
                </div>
            </div>
        </div>
    </section>