    <section id="about" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qui sommes-nous?</h2>
                    <h3 class="section-subheading text-muted">L'histoire de Deambulle</h3>
                </div>
            </div>

            <!--div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/giancarlo.png" class="img-responsive img-circle" alt="">
                        <h4>Giancarlo</h4>
                        <p class="text-muted">Il crée ...</p>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="img/team/roxane.png" class="img-responsive img-circle" alt="">
                            <h4>Roxane</h4>
                            <p class="text-muted">... elle s'occupe du reste !</p>
                        </div>
                    </div>
                </div>
            </div-->

            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item">

                    <div class="portfolio-caption">
                        <p>
                            Il y a derrière chaque chose une histoire. <br/>
                            Et ces jeux représentent la mienne.
                        </p>

                        <p>
                            Une histoire de famille, remplie d'amour et de joie principalement grâce aux bons moments que nous passions, mon frère, mes sœurs, mes parents et moi autour de ces jeux en bois.
                            Des jeux faits maison par un papa-artiste réveillé bien souvent en pleine nuit par trop d'idées de jeux à inventer, à partager!
                        </p>

                        <p>
                            C'est ainsi qu'on pouvait le retrouver au milieu de la nuit en train de créer un nouveau jeu en papier-carton, la table de la cuisine en guise d'atelier...
                            Le lendemain nous testions avec lui les mécanismes de ses nouvelles idées (s'il ne nous alpaguait pas à 4heures du matin quand on rentrait de soirée, surexcité!). Les semaines, les mois qui suivaient, on continuait à tester, cette fois avec la famille élargie et nos amis.<br/>
                            Les objets étaient beaux. Originaux. J'aimais les regarder et y jouer avec chaque nouvelle personne qui rentrait chez nous. Puis, je les emportais en voyage. Et à chaque fois, cela faisait son effet. Quelle fierté j'avais !
                        </p>

                        <p>
                            En grandissant, j'ai eu envie de partager ces richesses qui m'avaient accompagnée pendant si longtemps et qui ne me lassaient pas, malgré les nouveaux jeux incessants que ce papa-fou continuait à inventer.
                            C'est donc tout naturellement que j'ai poursuivi l'aventure et lancé Déambulle-jeux, une maison de création, d'édition et de distribution de certains de mes jeux préférés de ce papa-artisan. J'avais 21 ans. Et aujourd'hui, bientôt 30. Et des jeux, il y en a encore de nombreux à vous faire découvrir, au moins pour les 99 prochaines années! 
                        </p>

                        <p>
                            Venez tester les jeux à Bruxelles! Venez me rencontrer ou rencontrer ce papa-créateur.<br/>
                            Et si, à votre tour, vous les aimez, sachez qu'il est possible de m'en commander. Les jeux en rupture de stock seront probablement réédités un jour, mais avant ça, place à de la nouveauté! 
                        </p>

                        <div style="text-align:right">
                            <p class="sign">Roxane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>